.section-right{
    border : none;
    .container_palette-photo__hidden{
        display: none;
    }


    .container_categories{
        background-color: $color_h2;
        margin:0;
        display: flex;
        justify-content: space-around;
        padding: 34px 0;
        position: relative;
        li{
            // width: 20%;
            outline: none;
            text-align: center;

            a{
            text-decoration: none;
            padding-bottom : 5px;
            &.active-tabs{
            background: $color_active_blue_gradiant;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // border-bottom : 2.5px solid $color_active_font;
            // border-radius: 1px;
            }
                &:focus{
                outline : none;
                }
            }
        }
    } // container_categories

    hr {
    position:absolute;
    left: 28px;;
  height: .0001rem;
  width: 8.1%;
  bottom:26px;
  margin: 0;
  background: $color_active_blue_gradiant;
  border: none;
  transition: .3s ease-in-out;
        padding: 2px .5px;
          -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
      &:after {
      content: '';
      position: absolute;
      top: 2px;;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 4px;
      outline: 1px solid #F03A00;
      opacity: .2;
      filter: blur(2px);
      transform: translate(1px,6px);
    }
}

    .container_items{
        display: flex;
        flex-wrap: wrap;
        .box_item{
            width: 33%;
            height: 160px;
            border : .5px solid #E9E9E9;
            position : relative;
            &.active{
                background: $color_light_blue;
                box-shadow: none;
                svg {
                    .cls-1{
                        fill : $color_active_font;
                    }
                }
            }
            &.selected {
                &:before{
                    position: absolute;
                    content:'';
                    display: block;
                    border-width : 5px;
                    border-style : solid;
                    -moz-border-image: $color_active_blue_gradiant;
                    -webkit-border-image: $color_active_blue_gradiant;
                    border-image: $color_active_blue_gradiant;
                    border-image-slice: 1;
                    width: 80%;
                    height: 80%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            svg{
                width: 50%;
                height: 50%;
                position : absolute;
                display : block;
                top: 50%;
                left: 50%;
                transform : translate(-50%,-50%);
                .cls-1{
                    fill:#444;
                }
            }
        }
    }
}//section-right
