.blur{
    filter: blur(5px);
}

.container_print-and-share__fade-in{
    background-color: rgba(230,230,230,.59);
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    z-index:9999;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    &:before{
        content: "";
        background: url('images/thunder.svg')no-repeat 0 0;
        background-size: 60%;
        position: absolute;
        left: 220px;
        top: 120px;
        height: 170px;
        width: 170px;

    }

        .popup_print-and-share{
            padding: 50px 20px;
            background: #FFFFFF;
            box-shadow: 0 9px 25px 1px rgba(134,25,25,0.46);
            width: 53%;

                .text_pop{
                    color: #E44000;
                }

        .container_btn-print-and-share{
            display: flex;
            justify-content: center;
            margin: 30px 0;


            .li_pop{
                border-radius: 100%;
                width: 55px;
                height: 55px;
                margin: 4px 10px;
                    a{
                        margin: 0;
                        display:block;
                        height: 100%;
                        width: 100%;
                        font-size: 0;
                        
                    }
            }
            .li_pop_1{
                background: #D00AA7;
                
                    a{
                        background: url('images/printer2.svg') no-repeat 50% 50% / 70% ;
                    }
            }
            .li_pop_2{
                background: #FAA903;
                                    a{
                        background: url('images/mail2.svg') no-repeat 50% 50% / 60%;
                    }
            }
            .li_pop_3{
                background: #00C6E6;
                                    a{
                        background: url('images/facebook.svg') no-repeat 50% 50% / 30%;
                    }
            }

        }
    }
}

    .bop{

                    animation: bop 1s ;
                    
                    /* Safari 4.0 - 8.0 */
                    @-webkit-keyframes bop {
                        0%   {transform: scale(.6);}
                        50%  {transform: scale(1.3);}
                        100% {transform: scale(1);}
                    }

                    /* Standard syntax */
                    @keyframes bop {
                        0%   {transform: scale(.6);}
                        50%  {transform: scale(1.3);}
                        100% {transform: scale(1);}
                    }
    }

    .container_print-and-share__fade-in:before{

            -webkit-transition: bop 3s; /* Safari */
            -webkit-transition-delay: 1s; /* Safari */
            transition: bop 3s;
            transition-delay: 1s;
    }