.container_global_thumbnail_btn{
    display: flex;
    align-items: center;
    .container_global_thumbnail{
        margin : 20px 0;
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        direction: rtl;
        width: 305px;
        position: relative;
        &::-webkit-scrollbar {
            position: absolute;
            display: none;
        }
        .container_items_thumbnail{
            background: $color_h1;
            height: 70px;
            width: 10000px;
            margin : 0;
            display: flex;
            flex-direction: row-reverse;
            padding : 0 17px;
            align-items: center;
            .box_thumbnail{
                position: relative;
                background: $color_light_font;
                width: 43px;
                height: 43px;
                margin-left : 13px;
                box-shadow: 0 6px 6px 0 rgba(0,0,0,0.15);
                &.selected{
                border-width : 5px;
                border-style : solid;
                -moz-border-image: $color_active_blue_gradiant;
                -webkit-border-image: $color_active_blue_gradiant;
                border-image: $color_active_blue_gradiant;
                border-image-slice: 1;
                }
                svg{
                    width: 100%;
                    padding: 5px;
                    height: 100%;
                    position : absolute;
                    display : block;
                    top: 50%;
                    left: 50%;
                    transform : translate(-50%,-50%);
                }
            }
            .shake{
                animation: shake 20ms infinite;
            }
        }
    }
}
.btn_trash{
    position: absolute;
    margin: 5px 0 0 20px;
}

.section-left-main-bottom{
    /*margin: 30px 0;*/
}

@keyframes shake {
  0% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4eg);
  }
}

.box_thumbnail.selected{
    background-color: $color_light_blue;
    width: 0;
}


