.container_global_thumbnail_btn{
    display: flex;
    align-items: center;
    .container_global_thumbnail{
        margin : 20px 0;
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        direction: ltr;
        width: 310px;            
        position: relative;
        &::-webkit-scrollbar { 
            position: absolute;
            display: none;
        }
        .container_items_thumbnail{
          background: lightgrey;
          margin : 0;
            display: flex;
           padding : 13px 0;
            align-items: center;
            .box_thumbnail{
                background: $color_light_font;
                width: 43px;
                height: 43px;
                margin-left : 13px;
                box-shadow: 0 6px 6px 0 rgba(0,0,0,0.15);
            }
            .box_thumbnail.selected{
                border: 5px solid transparent;
                -moz-border-image: $color_active_blue_gradiant;
                -webkit-border-image: $color_active_blue_gradiant;
                border-image: $color_active_blue_gradiant;
                border-image-slice: 1;
            }
        }
    }
}
.btn_trash{
    position: absolute;
    margin: 5px 0 0 20px;
}

.section-left-main-bottom{
    /*margin: 30px 0;*/
}