.container_badge {
  width : 315px; height : 315px;
  margin : 0 auto;


.light-badge {
  mix-blend-mode : soft-light;
  background-image: linear-gradient(145deg, #FFFFFF 1%, rgba(255,255,255,0.00) 100%);
}

.btn_photo {
  position : absolute;
  right : 0;
  bottom : -5px;
}

.container_photo-parameters {
  position : absolute;
  z-index : 9999;
  left : 70%;
  top : 60%;

  transform-origin: 0% 0%;
  transform : scale(1, 1);
  transition : transform .4s;

  &.hidden {
    width : 0;
    overflow : hidden;
    transform : scale(0, 0);
  }

}

#text-badge{
  font-family: "ralewayextrabold";
}


}
.container_photo {
  position : absolute;
  left : 40%;
  top : 58%;
}

