
// Raleway______________________________________________________

@font-face {
    font-family: 'ralewaybold';
    src: url('vendor/webfonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack_italic';
    src: url('vendor/webfonts/raleway/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold_italic';
    src: url('vendor/webfonts/raleway/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('vendor/webfonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('vendor/webfonts/raleway/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Woodford______________________________________________________

@font-face {
    font-family: 'woodford_bournebold';
    src: url('vendor/webfonts/woodford/woodfordbourne-bold-webfont.woff2') format('woff2'),
         url('vendor/webfonts/woodford/woodfordbourne-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'woodford_bournebold_italic';
    src: url('vendor/webfonts/woodford/woodfordbourne-bolditalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/woodford/woodfordbourne-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'woodford_bourneregular';
    src: url('vendor/webfonts/woodford/woodfordbourne-regular-webfont.woff2') format('woff2'),
         url('vendor/webfonts/woodford/woodfordbourne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'woodford_bournethin';
    src: url('vendor/webfonts/woodford/woodfordbourne-thin-webfont.woff2') format('woff2'),
         url('vendor/webfonts/woodford/woodfordbourne-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'woodford_bournethin_italic';
    src: url('vendor/webfonts/woodford/woodfordbourne-thinitalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/woodford/woodfordbourne-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Choplin_____________________________________________________________________

@font-face {
    font-family: 'choplinextralight-demo';
    src: url('vendor/webfonts/choplin/rene_bieder_-_choplin_extralight-demo-webfont.woff2') format('woff2'),
         url('vendor/webfonts/choplin/rene_bieder_-_choplin_extralight-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'choplinmedium-demo';
    src: url('vendor/webfonts/choplin/rene_bieder_-_choplin_medium-demo-webfont.woff2') format('woff2'),
         url('vendor/webfonts/choplin/rene_bieder_-_choplin_medium-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}