//Raleway______________________________________________________

@font-face {
    font-family: 'ralewaybold';
    src: url('vendor/webfonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url ('vendor/webfonts/raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack_italic';
    src: url('vendor/webfonts/raleway/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold_italic';
    src: url('vendor/webfonts/raleway/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('vendor/webfonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('vendor/webfonts/raleway/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('vendor/webfonts/raleway/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Choplin_____________________________________________________________________

@font-face {
    font-family: 'choplinextralight-demo';
    src: url('vendor/webfonts/choplin/rene_bieder_-_choplin_extralight-demo-webfont.woff2') format('woff2'),
         url('vendor/webfonts/choplin/rene_bieder_-_choplin_extralight-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'choplinmedium-demo';
    src: url('vendor/webfonts/choplin/rene_bieder_-_choplin_medium-demo-webfont.woff2') format('woff2'),
         url('vendor/webfonts/choplin/rene_bieder_-_choplin_medium-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// avenir____________________________________
@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi'), url('vendor/webfonts/avenir/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Regular'), url('vendor/webfonts/avenir/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Bold'), url('vendor/webfonts/avenir/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi Italic'), url('vendor/webfonts/avenir/AvenirNextLTPro-DemiIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Italic'), url('vendor/webfonts/avenir/AvenirNextLTPro-It.woff') format('woff');
}
