//----------------------------- GENERAL ------------------------//
* {
    box-sizing : border-box;
    font-family: 'Avenir Next LT Pro Regular';
    font-weight: normal;
}

body{
    margin: 0;
    li{
        list-style: none;
    }
}

ul{
    padding-left: 0;
}

.hidden{
    /*display: none;*/
}

//-------------------------------------  FONTS COLORS
.container_login, .input_login::placeholder, .input_login{
    color: $color_light_font;
}

.container_admin, .input_admin, .print_infos, .btn_photo-parameters, .category_tab{
    color: $color_dark_font;
}

//-------------------------------------  FONTS

// Index
//// Home--------------------------
.container_login{

    // BADGE-TOI + Arcade
    .title_index{
        font-family: 'ralewayblack_italic';
    }

    // LABEL
    label{
        font-family: 'choplinextralight-demo';
    }

    // INPUT
    input{
        font-family: "Arial Black";
    }
}

    // ARCADE
    .btn_arcade{
        font-family: 'ralewayblack_italic';
        text-transform: uppercase;
    }

//// Admin--------------------------

.container_admin{

    .btn_admin{
        font-family: 'Avenir Next LT Pro Demi';
    }
    input::placeholder{
        opacity:0.72;
    }
}

.print_infos{
    font-family: 'Avenir Next LT Pro Demi Italic';
    color: #B4B6BA;
        span{
            font-family: 'Avenir Next LT Pro Demi Italic';
            color: #95979B;
        }
}

//// CREATION--------------------------
.container_pseudo{
    ::placeholder{
        font-family: 'Avenir Next LT Pro Demi Italic';
    }
}

.btn_photo-parameters, .category_tab{
        font-family: 'Avenir Next LT Pro Demi';
}


// PRINT & SHARE-----------------------


//----------------------------- BADGE CREATION POSITIONNEMENT ------------------------//

//----------------------- SECTION LEFT
main{
    height: calc(100vh - 10rem);
}

.container_page-badge{
    display: flex;
}

section{
    width: 50%;
    border: solid 1px blue;
}

.section-left-main, .section-left-main-bottom, .section-left_header{
    padding: 1.5rem 3rem;
}

//----- SECTION L HEADER

.section-left_header{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

//----- SECTION L MAIN

.section-left{
    background-color: grey;
}

//-----  DRAG AND DROP ZONE

.drop-zone{

    padding: 2rem;
}

.drag-zone{
    width: 21rem;
    height: 21rem;
    border-radius: 300px;
    background-color: white;
    margin: auto;
}

.btn_photo{
    position: absolute;
    left: 40%;
}

/* light: */

//- SECTION L THUMBNAIL

.container_global_thumbnail{
    background-color: blue;
}

.container_items_thumbnail{

}
//------ VALIDATE
.section-left-main-bottom{
    display: flex;
    justify-content: center;
}

//----------------------- SECTION RIGHT

