//-------------------------------------  COLORS  -------------------------------------//
//-------------------------------------  GENERAL
$color_bg_light: #F2F2F2;

$color_h1: #EEF1F3; 
$color_b1: #F7F8F9;
   
$color_h2: #F2F4F6;
$color_b2: #FDFDFD;    
 
$color_light_grey: #EDEFF1;
$color_light_blue: #EFFEFF;


//-------------------------------------  GRADIANT
$color_red_gradiant: linear-gradient(-45deg, #FAD961 0%, #F76B1C 30%, #E94E95 100%);
$color_active_blue_gradiant: linear-gradient(-134deg, #00FFF9 0%, #009CFF 100%);
//-------------------------------------  FONTS

$color_light_font: #FFFFFF;
$color_dark_font: #747474;
$color_active_font: #00C6FF;
$color_red: #E7376C; 


//-------------------------------------  OUTLINE

$color_red_outline: #e40042;
$color_orange_outline: #f08814;
$color_yellow_outline: #ffeb00;
$color_pink_outline: #E7378C;
$color_white_outline: #F7F7F7;
$color_green_outline: #ACC90F;
$color_black_outline: #343435;
$color_turquoise_outline: #46B492;
$color_blue_outline: #0076BF;

//-------------------------------------  FILL

$color_red_fill: #d1043d;
$color_orange_fill: #f39411;
$color_yellow_fill: #fac404;
$color_pink_fill: #e94e95;
$color_white_fill: #f2f2f2;
$color_green_fill: #90b623;
$color_black_fill: #2e2e2e;
$color_turquoise_fill: #25ab93;
$color_blue_fill: #0061ad;

