//-------------------------------------  COLORS  -------------------------------------


//-------------------------------------  OUTLINE

$col_red_outline: ;

$col_orange_outline: ;

$col_yellow_outline: ;

$col_pink_outline: ;

$col_white_outline: ;

$col_green_outline: ;

$col_black_outline: ;

$col_turquoise_outline: ;

$col_blue_outline: ;

//-------------------------------------  FILL

$col_red_fill: ;

$col_orange_fill: ;

$col_yellow_fill: ;

$col_pink_fill: ;

$col_white_fill: ;

$col_green_fill: ;

$col_black_fill: ;

$col_turquoise_fill: ;

$col_blue_fill: ;
